.btn-h1-margin{
 margin-top: 18px;
}

.trhover {
   cursor: pointer;
   /* whatever other hover styles you want */
}

/* Modals */
.modal-content {
    border: none;
}

.modal-header {
    padding: 17px 15px 15px;
    border-bottom: none;
    background-color: #f9f9f9;
}

.modal-header .nav-tabs {
    margin: 0 -15px -15px;
}

.modal-title {
    font-weight: 300;
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer {
    margin-top: 0;
    padding: 9px 15px 10px;
    border-top: none;
    background-color: #f9f9f9;
}

.modal.fade .modal-dialog {
    opacity: 0;
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(.6);
    transform: scale(.6);
}

.modal.in .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.modal-backdrop.in {
    opacity: .75;
}

#example_filter {
    float: right;
}
 .modalstyle {
     width: 575px;
     border: 2px solid green;
     padding: 25px;
     margin: 25px;
 }